/*-- scss:defaults --*/
// Base document colors
$headings-font-family: 'Source Sans Pro';
$font-family-sans-serif: 'Arial';
$code-color: #ae191a;
$link-color: #009ee3;
$navbar-bg: #ae191a;
$kbd-color: #ae191a;
$kbd-bg: #ae191a;
$pre-color: #747473;
