.downloadthis:focus,
  .downloadthis:active  {
     box-shadow: none !important;
  }
  
  .downloadthis:hover {
     transition: 0.2s;
     filter: brightness(0.90);
  }
  
  .downloadthis:active {
     filter: brightness(0.80);
}